.message-list {
    list-style: none; 
    padding: 0px;
}

.me {
    padding: 10px;
    text-align: right;
}

.friend {
    padding: 10px;
    text-align: left;
}

.system {
    padding: 10px;
    text-align: center;
}

li.me span {
    background-color: #0066ff;
    color: white;
    padding: 7px;
    border-radius: 15px;
}

li.friend span {
    background-color: #c2c2c2;
    padding: 7px;
    border-radius: 15px;
}

li.system span {
    font-style: italic;
    color: #c2c2c2;
}
